skills {
	github "NousResearch/hermes-agent"
	github "OpenRouterTeam/skills"
	github "anthropics/skills"
	github "auth0/agent-skills" skills_dir="plugins/auth0/skills"
	github "better-auth/skills" skills_dir="better-auth" ignore_dir="commands"
	github "bitbloxhub/skills"
	github "brave/brave-search-skills"
	github "cloudflare/skills"
	github "coderabbitai/skills"
	github "degausai/wonda"
	github "duckdb/duckdb-skills"
	github "firecrawl/cli"
	github "github/awesome-copilot"
	github "googleworkspace/cli"
	github "huggingface/skills"
	github "juliusbrussee/cavekit"
	github "juliusbrussee/caveman"
	github "mattpocock/skills" skills_dir="skills/productivity" skill="grill-me"
	github "microsoft/azure-skills"
	github "mitsuhiko/agent-stuff"
	github "obra/superpowers"
	github "remotion-dev/skills"
	github "shadcn/ui"
	github "supabase/agent-skills"
	github "vercel-labs/agent-browser"
	github "vercel-labs/agent-skills"
	github "vercel-labs/skills"
	github "volcengine/OpenViking" skills_dir="examples/skills"
}
